/*HEADING SECTION*/
* {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.35;
}

body {
  margin: 0px;
  padding: 0px;
  background: #eeeeee;
}

#content {
  padding: 10px;
}

#header {
  width: 100%;
  
}

#language_select,
#homelink,
#empty_span{
  width: 50%;
  float: left;
  display: inline-block;
  box-sizing: border-box; 
  text-align: center;
  text-decoration: none;
  background: black;
  color: white;
  padding:10px 0px;
}

/*LINKS*/
.link {
  display: inline-block;
  box-sizing: border-box;
  min-width: 150px;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  background: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px lightgray;
}

/*GRAYED OUT*/
.grayed-out {
  opacity: 0.5;
  cursor: default;
  background: #222222;
  color: gray;
}

.selected {
  color: white;
  background-color: black;
}



/*TODO....*/
#output_table {
  width: 100%;
}

#output_table th {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background: black;
  color: white;
}

.button,
.subject-button,
.conjugation-button,
.grayed-out {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px;
  min-width: 150px;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px lightgray;
  margin: 3px;
  font-weight: bold;
  font-size: 1rem;
}

.grayed-out {
  background: white;
  color: lightgray;
  border: 1px solid white;
  cursor: default;
}

/*NUMPAD*/
.numpad_table {
  width: 100%;
  cursor: pointer;
}

#numpad_input,
#numpad_output,
.numpad_number,
#numpad_submit,
#numpad_reset,
#numpad_next {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  font-weight: bold;
}

#numpad_input,
#numpad_output {
  background: black;
  color: white;
}

#numpad_reset {
  background: red;
}

#numpad_submit {
  background: green;
}

#numpad_next {
  background: lightgray;
  display: none;
}

/*CORRECT OR WRONT INFO*/
#correct_div,
#wrong_div {
  display: none;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  font-weight: bold;
}

#wrong_div {
  color: white;
  background-color: red;
}

#correct_div {
  color: white;
  background-color: green;
}