* {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.35;
}

body {
  margin: 0px;
  padding: 0px;
  background: #eeeeee;
}

#heading_div,
#language_select,
#home_link {
  float: left;
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  background: black;
  color: white;
}

#heading_div {
  width: 100%;
}

#language_select,
#home_link {
  width: 50%;
  padding: 20px;
}

#content {
  padding: 20px;
}

#impressum_div {
  width: 100%;
  float: left;
  margin-top: 20px;
}

.excercise_button,
.language_select_button,
.system_button,
#next_button,
.left_button,
.right_button,
.grayed_out,
.selected {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border: 0px solid black;
  box-shadow: 2px 2px 2px lightgray;
  text-decoration: none;
}

.excercise_button,
.language_select_button,
.system_button,
#next_button {
  margin-top: 10px;
  cursor: pointer;
}

.left_button,
.right_button,
.excercise_button,
.language_select_button {
  color: black;
  background: white;
}

.system_button,
#next_button,
.selected,
.excercise_button:hover,
.language_select_button:hover {
  color: white;
  background: black;
}

#next_button {
  visibility: hidden;
}

#output_table {
  width: 100%;
}

.left_button,
.right_button,
.grayed_out,
.selected {
  cursor: pointer;
  margin: 3px;
  font-size: 1rem;
}

.grayed_out {
  background: white;
  color: lightgray;
  cursor: default;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.error_shake {
  animation: shake 0.6s ease-in-out;
}

.error_button {
  background-color: red;
  /* Tomato color for error */
  color: white;
}