<div class="verbdiv" id="verbname"></div
<div class="cardwrapper">
  <div class="card">
    <b>PAST</b>
    <hr>
    <ul id="past-list">
      <li id="past-1"></li>
      <li id="past-2"></li>
      <li id="past-3"></li>
      <li id="past-4"></li>
      <li id="past-5"></li>
      <li id="past-6"></li>
    </ul>
  </div>

  <div class="card">
    <b>PRESENCE</b>
    <hr>
    <ul id="presence-list">
      <li id="presence-1"></li>
      <li id="presence-2"></li>
      <li id="presence-3"></li>
      <li id="presence-4"></li>
      <li id="presence-5"></li>
      <li id="presence-6"></li>
    </ul>
  </div>

  <div class="card">
    <b>FUTURE</b>
    <hr>
    <ul id="future-list">
      <li id="future-1"></li>
      <li id="future-2"></li>
      <li id="future-3"></li>
      <li id="future-4"></li>
      <li id="future-5"></li>
      <li id="future-6"></li>
    </ul>
  </div>
</div>