<button class="exercise2_button flexfield" id="colors">COLORS</button>
<button class="exercise2_button flexfield" id="monthdays">TIME</button>
<button class="exercise2_button flexfield" id="animals">ANIMALS</button>
<button class="exercise2_button flexfield" id="food">FOOD</button>
<button class="exercise2_button flexfield" id="body">BODY</button>
<button class="exercise2_button flexfield" id="rooms">ROOMS</button>
<button class="exercise2_button flexfield" id="fashion">FASHION</button>
<button class="exercise2_button flexfield" id="jobs">JOBS</button>
<button class="exercise2_button flexfield" id="prepositiones">QUESTIONS, ARTICLES, ADVERBS</button>