<button class="exercise_button flexfield" id="colors">COLORS</button>
<button class="exercise_button flexfield" id="monthdays">TIME</button>
<button class="exercise_button flexfield" id="animals">ANIMALS</button>
<button class="exercise_button flexfield" id="food">FOOD<br>(no polish support)</button>
<button class="exercise_button flexfield" id="body">BODY</button>
<button class="exercise_button flexfield" id="rooms">ROOMS</button>
<button class="exercise_button flexfield" id="fashion">FASHION</button>
<button class="exercise_button flexfield" id="jobs">JOBS</button>
<button class="exercise_button flexfield" id="prepositiones">PREPOSITIONES</button>
<button class="exercise_button flexfield" id="phrases">USEFUL PHRASES<br>(no polish support)</button>