<div class="flexfieldcolumn">
  <h1>Impressum</h1>

  <p><strong>Kontakt:</strong><br>
    E-Mail: <a href="mailto:boing3000@gmx.de">boing3000@gmx.de</a></p>

  <p><strong>Haftungsausschluss:</strong><br>
    Die Inhalte wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.</p>

  <h1>Datenschutzerklärung</h1>

  <h2>Datenschutz</h2>
  <p>Eine Nutzung der Internetseiten ist grundsätzlich ohne jede Angabe personenbezogener Daten möglich.</p>

  <h2>Cookies</h2>
  <p>Unsere Website verwendet ausschließlich Cookies für den Zweck der Sprachauswahl. Diese Cookies sind nicht personenbezogen und dienen lediglich der Benutzerfreundlichkeit, um Ihre Sprachpräferenzen zu speichern.</p>

  <h2>Keine externen Links</h2>
  <p>Es gibt keine Verlinkungen zu externen Webseiten.</p>

  <h2>Verwendung von VoiceRSS</h2>
  <p>Für die Sprachausgabe wird VoiceRSS verendet. Dieser Dienst ermöglicht es, Ihnen eine Text-zu-Sprache-Funktion zur Verfügung zu stellen.</p>

  <h2>Verwendung von ChatGPT</h2>
  <p>Zur Unterstützung bei der Programmierung und zur Erstellung von Datensätzen wird ChatGPT, ein KI-gestütztes Tool, verwendet. Dieses Tool wurde genutzt, um die Funktionalität zu optimieren und Inhalte effizient zu generieren.</p>

  <h2>Hosting</h2>
  <p>Diese Website wird von GitHub Pages gehostet, einem Dienst der GitHub, Inc.</p>
  <p>Weitere Informationen finden Sie in den <a href="https://docs.github.com/en/github/site-policy/github-terms-of-service" target="_blank">GitHub-Nutzungsbedingungen</a> und in der <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement" target="_blank">Datenschutzerklärung von GitHub</a>.</p>
  <p>Der Quellcode der Webseite kann hier eingesehen werden: <a href="https://github.com/momario" target="_blank">https://github.com/momario</a></p>

  <h2>Kontakt zum Datenschutzbeauftragten</h2>
  <p>Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten, bei Auskünften, Berichtigung, Sperrung oder Löschung von Daten sowie Widerruf erteilter Einwilligungen wenden Sie sich bitte an den oben genannten Kontakt.</p>

  <h2>Änderungen der Datenschutzerklärung</h2>
  <p>Wir behalten uns vor, diese Datenschutzerklärung gelegentlich anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>
</div>