<input id="numbertext" class="blue flexfield" disabled>
<input id="numberinput" placeholder="0" class="blue flexfield" disabled>
<div class="numbers">
  <button>1</button>
  <button>2</button>
  <button>3</button>
</div>
<div class="numbers">
  <button>4</button>
  <button>5</button>
  <button>6</button>
</div>
<div class="numbers">
  <button>7</button>
  <button>8</button>
  <button>9</button>
</div>
<div class="numbers">
  <button>0</button>
</div>
<button id="numberremove" class="flexfield red">RESET</button>
<button id="numbersubmit" class="flexfield green">SUBMIT</button>
<button id="numberhint" class="flexfield yellow">HINT</button>
<button id="numbernext" class="flexfield gray">NEXT</button>