<div class="settings">
  <button class="langfrom flexfield">GERMAN</button>
  <button class="langto flexfield">GERMAN</button>
</div>
<div class="settings">
  <button class="langfrom flexfield">ENGLISH</button>
  <button class="langto flexfield">ENGLISH</button>
</div>
<div class="settings">
  <button class="langfrom flexfield">SLOVENIAN</button>
  <button class="langto flexfield">SLOVENIAN</button>
</div>
<div class="settings">
  <button class="langfrom flexfield">ITALIAN</button>
  <button class="langto flexfield">ITALIAN</button>
</div>
<div class="settings">
  <button class="langfrom flexfield">DUTCH</button>
  <button class="langto flexfield">DUTCH</button>
</div>
<div class="settings">
  <button class="langfrom flexfield">FRENCH</button>
  <button class="langto flexfield">FRENCH</button>
</div>
<div class="settings">
  <button class="langfrom flexfield">SPANISH</button>
  <button class="langto flexfield">SPANISH</button>
</div>
<div class="settings">
  <button class="langfrom flexfield">TURKISH</button>
  <button class="langto flexfield">TURKISH</button>
</div>
<div class="settings">
  <button class="langfrom flexfield">KURDISH</button>
  <button class="langto flexfield">KURDISH</button>
</div>
<div class="settings">
  <button id="langreset" class="flexfield">RESET</button>
</div>