<div class="settings">
  <button class="langfrom">GERMAN</button>
  <button class="langto">GERMAN</button>
</div>
<div class="settings">
  <button class="langfrom">ENGLISH</button>
  <button class="langto">ENGLISH</button>
</div>
<div class="settings">
  <button class="langfrom">SLOVENIAN</button>
  <button class="langto">SLOVENIAN</button>
</div>
<div class="settings">
  <button class="langfrom">ITALIAN</button>
  <button class="langto">ITALIAN</button>
</div>
<div class="settings">
  <button class="langfrom">DUTCH</button>
  <button class="langto">DUTCH</button>
</div>
<div class="settings">
  <button class="langfrom">FRANCE</button>
  <button class="langto">FRANCE</button>
</div>
<div class="settings">
  <button class="langfrom">ESPANIOL</button>
  <button class="langto">ESPANIOL</button>
</div>
<div class="settings">
  <button class="langfrom">TURKISH</button>
  <button class="langto">TURKISH</button>
</div>
<div class="settings">
  <button class="langfrom">KURDISH</button>
  <button class="langto">KURDISH</button>
</div>
<div class="settings">
  <button id="langreset">RESET</button>
</div>
<script src="js/languageselect.js" defer></script>